In [236]:
# Imports
import requests
import pandas 
import numpy as np

In [237]:
# Get data "
Year = "2020"
r = requests.get("https://www.baseball-reference.com/register/league.cgi?id=4b244907")

In [238]:
############################################
# Clean data [ANDY IS A FUCKING GENIOUS!]
string = r.text
string = string.replace ("-->","")
string = string.replace ("!--","")

############################################
#DF = data frame (PANDAS)
dfs = pandas.read_html(string)
# get DF 0
Standings = dfs[0]
Standings.rename(columns={ Standings.columns[0]: "Team" }, inplace = True)
Standings.rename(columns={ Standings.columns[4]: "PCT" }, inplace = True)
Standings

                 Team   W   L  Ties    PCT   GB
0      Yomiuri Giants  10   4     1  0.714   --
1  Yokohama Bay Stars   9   7     0  0.563    2
2     Yakult Swallows   8   7     1  0.533  2.5
3      Hiroshima Carp   6   7     1  0.462  3.5
4    Chunichi Dragons   7   9     1  0.438    4
5      Hanshin Tigers   4  10     0  0.286    6

In [239]:
CentralBat = dfs[1]
del CentralBat['Aff']
CentralBat.rename(columns={ CentralBat.columns[0]: "Team" }, inplace = True)
CentralBat.rename(columns={ CentralBat.columns[22]: "HB" }, inplace = True)
CentralBat

,Team,BatAge,R/G,G,PA,AB,R,H,2B,3B,...,BA,OBP,SLG,OPS,TB,GDP,HB,SH,SF,IBB
0,Yomiuri Giants,29.5,5.53,15,566,499,83,136,26,2,...,0.273,0.352,0.453,0.805,226,12,3,6,0,6
1,Yokohama Bay Stars,29.2,4.94,16,613,542,79,158,32,1,...,0.292,0.358,0.448,0.806,243,13,6,4,7,5
2,Hiroshima Carp,28.7,4.50,14,550,492,63,138,22,2,...,0.280,0.342,0.437,0.779,215,12,6,12,0,2
3,Yakult Swallows,29.6,4.50,16,606,526,72,129,22,1,...,0.245,0.331,0.388,0.718,204,9,6,7,4,7
4,Chunichi Dragons,29.1,3.41,17,642,578,58,149,27,3,...,0.258,0.318,0.362,0.680,209,16,6,10,2,7
5,Hanshin Tigers,29.8,2.93,14,513,453,41,100,14,1,...,0.221,0.293,0.349,0.642,158,14,5,8,4,1
6,League Totals,29.3,4.30,92,3490,3090,396,810,143,10,...,0.262,0.333,0.406,0.739,1255,76,32,47,17,28

In [240]:
CentralPitch= dfs[2]
del CentralPitch['Aff']
CentralPitch.rename(columns={ CentralPitch.columns[0]: "Team" }, inplace = True)
CentralPitch.rename(columns={ CentralPitch.columns[5]: "PCT" }, inplace = True)
CentralPitch.rename(columns={ CentralPitch.columns[22]: "HB" }, inplace = True)
CentralPitch

,Team,PAge,R/G,W,L,PCT,ERA,RA9,G,GS,...,HB,BK,WP,BF,WHIP,H9,HR9,BB9,SO9,SO/W
0,Yomiuri Giants,28.4,3.27,10,4,0.714,3.27,3.27,15,15,...,5,0,4,554,1.170,7.5,1.0,3.0,7.3,2.44
1,Yokohama Bay Stars,27.7,3.94,9,7,0.563,3.73,4.05,16,16,...,7,0,6,599,1.321,8.2,0.9,3.7,7.3,2.00
2,Chunichi Dragons,26.9,4.24,7,9,0.438,4.14,4.32,17,17,...,6,0,2,653,1.407,8.9,1.4,3.7,7.9,2.13
3,Hiroshima Carp,26.9,4.29,6,7,0.462,4.20,4.43,14,14,...,3,0,1,521,1.344,8.9,1.2,3.2,6.9,2.14
4,Yakult Swallows,27.5,4.94,8,7,0.533,4.29,4.84,16,16,...,3,1,4,648,1.517,10.5,0.9,3.2,6.7,2.10
5,Hanshin Tigers,29.6,5.21,4,10,0.286,5.01,5.63,14,14,...,8,0,5,515,1.483,10.0,0.8,3.4,7.3,2.16
6,League Totals,27.8,4.30,44,44,0.500,4.09,4.40,92,92,...,32,1,22,3490,1.374,9.0,1.0,3.4,7.3,2.15

In [241]:
CentralField = dfs[3]
del CentralField['Aff']
CentralField.rename(columns={ CentralField.columns[0]: "Team" }, inplace = True)
CentralField

,Team,G,CG,PO,A,E,DP,Fld%,PB,SB,CS,CS%,lgCS%,PO.1,Attendance,Managers
0,Yomiuri Giants,15,NaN,405,168,2,12,0.997,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Hanshin Tigers,14,NaN,350,163,5,15,0.990,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Yokohama Bay Stars,16,NaN,420,187,7,9,0.989,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Yakult Swallows,16,NaN,441,173,8,23,0.987,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Hiroshima Carp,14,NaN,366,152,8,12,0.985,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Chunichi Dragons,17,NaN,450,189,11,16,0.983,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,League Totals,92,NaN,2432,1032,41,87,0.988,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [242]:
#Concat = CentralBat.append([CentralPitch,CentralField], sort=False)
Concat = pandas.concat([CentralBat, CentralPitch, CentralField], axis=1, sort=False)

In [243]:
Concat

,Team,BatAge,R/G,G,PA,AB,R,H,2B,3B,...,DP,Fld%,PB,SB,CS,CS%,lgCS%,PO.1,Attendance,Managers
0,Yomiuri Giants,29.5,5.53,15,566,499,83,136,26,2,...,12,0.997,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Yokohama Bay Stars,29.2,4.94,16,613,542,79,158,32,1,...,15,0.990,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Hiroshima Carp,28.7,4.50,14,550,492,63,138,22,2,...,9,0.989,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Yakult Swallows,29.6,4.50,16,606,526,72,129,22,1,...,23,0.987,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Chunichi Dragons,29.1,3.41,17,642,578,58,149,27,3,...,12,0.985,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Hanshin Tigers,29.8,2.93,14,513,453,41,100,14,1,...,16,0.983,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,League Totals,29.3,4.30,92,3490,3090,396,810,143,10,...,87,0.988,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [244]:
# Export data

# https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_csv.html
Concat.to_csv(path_or_buf="/Users/Anzo/Desktop/CentralLeague.csv")

In [245]:
#CentralBat.to_csv(path_or_buf="/Users/Anzo/Desktop/CentralLeague.csv")

In [246]:
#CentralPitch.to_csv(path_or_buf="/Users/Anzo/Desktop/CentralLeague.csv", skiprows=8)

In [247]:
#CentralField.to_csv(path_or_buf="/Users/Anzo/Desktop/CentralLeague.csv")